<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owen Shop</title>
    <!-- font Awesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="/fontawesome-free-6.5.2-web/css/all.min.css">
    <script src="https://kit.fontawesome.com/dad03e859c.js" crossorigin="anonymous"></script>
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Alkatra&family=Berkshire+Swash&family=Comic+Neue:wght@700&family=Gentium+Book+Plus:wght@400;700&family=Lato:ital,wght@0,400;0,700;0,900;1,700&family=Lexend+Deca:wght@500&family=Lexend:wght@500&family=Montserrat:wght@500&family=Open+Sans:wght@500;800&family=Roboto:wght@100;400&family=Sue+Ellen+Francisco&family=Work+Sans:wght@400;700;900&display=swap"
        rel="stylesheet">

    <link
        href="https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900;&display:swap">
    <!-- css -->
    <link rel="stylesheet" href="/css/reuse/root.css">
    <link rel="stylesheet" href="/css/reuse/header-nav.css">
    <link rel="stylesheet" href="/css/reuse/products.css">
    <link rel="stylesheet" href="/css/reuse/footer.css">
    <link rel="stylesheet" href="/css/reuse/resposive.css">
    <link rel="stylesheet" href="/css/reuse/pagination.css">
    <link rel="stylesheet" href="/css/shop.css">
</head>

<body>
    <section id="header">
        <a href="#"><img src="/imgs/logo/logo.png"></a>
        <div>
            <ul id="navbar">
                <a href="/admin"><i class="fa-solid fa-lock"></i></a>
                <li><a href="/">Home</a></li>
                <li><a href="/shop" class="active">Shop</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
                <li id="cart"><a href="/cart" id="lg-bag"><i class="fal fa-shopping-bag"></i></a>
                    <span id="quantity">
                        <%=cartCount%>
                    </span>
                </li>
                <% if (!user) { %>
                    <a href="/auth/loginForm" class="btn btn-primary">Đăng nhập</a>
                    <% } else { %>
                        <div class="dropdown">
                            <i class="fa fa-user-circle dropdown-toggle" id="userIcon" data-bs-toggle="dropdown"
                                aria-expanded="false"></i>
                            <ul class="dropdown-menu" aria-labelledby="userIcon">
                                <li><a href="/auth/logout" class="dropdown-item">Log out</a></li>
                            </ul>
                        </div>

                        <% } %>
                            <li><span id="close"> <i class="fa-solid fa-x"></i></span></li>
            </ul>
        </div>
        <div id="mobile">
            <a href="/cart"><i class="fal fa-shopping-bag"></i>
                <span class="quantity">
                    <%=cartCount%>
                </span>
            </a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>

    <section id="page-header" class="shop-header">
        <h2>#shop</h2>
        <p>Save more than coupon x up to 70% off</p>
    </section>

    <section id="product1" class="section-p1">
        <h2>Featured Products</h2>
        <p>Summer Collection New Modern Design</p>
        <div class="pro-container">
            <% for(var i=0; i < rows.length; i++) { %>
                <div class="pro">
                    <a href="/shop/proDetails/<%=rows[i].id%>">
                        <img src="imgs/products/<%=rows[i].image_url%>" alt="">
                        <div class="des">
                            <span>
                                <%=rows[i].id%>
                            </span>
                            <h5>
                                <%=rows[i].name%>
                            </h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <h4>
                                $<%=rows[i].price%>
                            </h4>
                        </div>
                        <i class="fal fa-shopping-cart cart"></i>
                    </a>
                </div>
                <% } %>
        </div>
        <!-- pagination -->
        <!-- pagination -->
        <div class="pagination">
            <% if (currentPage> 1) { %>
                <a href="/shop?page=1"><i class="fas fa-angle-double-left"></i></a>
                <a href="/shop?page=<%= currentPage - 1 %>"><i class="fas fa-angle-left"></i></a>
                <% } %>


                    <a href="/shop?page=<%= currentPage %>">
                        <%= currentPage %>
                    </a>


                    <% if (currentPage < totalPages) { %>
                        <a href="/shop?page=<%= currentPage + 1 %>"><i class="fas fa-angle-right"></i></a>
                        <a href="/shop?page=<%= totalPages %>"><i class="fas fa-angle-double-right"></i></a>
                        <% } %>
        </div>

    </section>

    <footer class="section-p1">
        <div class="col">
            <a href="#"><img class="logo" src="/imgs/logo/logo.png"></a>
            <h4>Contact</h4>
            <p><strong>Address:<strong>Viet Nam, Da Nang, Ngu Hanh Son</p>
            <p><strong>Email: </strong>252quanghuy@gmail.com</p>
            <p><strong>Phone:</strong>0813118974</p>
            <p><strong>Hours:</strong>10.00 - 18.00, Mon - Sat</p>
            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icon">
                    <a href="https://www.facebook.com/huydz.252">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-youtube"></i>
                        <i class="fab fa-pinterest-p"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="sec">
            <div class="col">
                <h4>About</h4>
                <a href="#">About Us</a>
                <a href="#">Delivery Information</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Terms and Condition</a>
                <a href="#">Contact Us</a>
            </div>

            <div class="col">
                <h4>My Account</h4>
                <a href="#">Sign In</a>
                <a href="#">View Cart</a>
                <a href="#">My Account</a>
                <a href="#">My Wishlist</a>
                <a href="#">Track my Order</a>
                <a href="#">Help</a>

            </div>

            <div class="col install">
                <h4>Install App</h4>
                <p>From App Store or Google Play</p>

                <div class="row">
                    <img src="/imgs/pay/app.jpg" alt="">
                    <img src="/imgs/pay/play.jpg" alt="">
                </div>
                <p>Secured Payment Gateways</p>
                <img src="/imgs/pay/pay.png" alt="">
            </div>
        </div>

    </footer>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


    <script src="/js/navbar.js"></script>
</body>

</html>