<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owen Shop</title>
    <!-- font Awesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <script src="https://kit.fontawesome.com/dad03e859c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/fontawesome-free-6.5.2-web/css/all.min.css">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Alkatra&family=Berkshire+Swash&family=Comic+Neue:wght@700&family=Gentium+Book+Plus:wght@400;700&family=Lato:ital,wght@0,400;0,700;0,900;1,700&family=Lexend+Deca:wght@500&family=Lexend:wght@500&family=Montserrat:wght@500&family=Open+Sans:wght@500;800&family=Roboto:wght@100;400&family=Sue+Ellen+Francisco&family=Work+Sans:wght@400;700;900&display=swap"
        rel="stylesheet">

    <link
        href="https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900;&display:swap">
    <!-- css -->
    <link rel="stylesheet" href="/css/reuse/root.css">
    <link rel="stylesheet" href="/css/reuse/header-nav.css">
    <link rel="stylesheet" href="/css/reuse/products.css">
    <link rel="stylesheet" href="/css/reuse/footer.css">
    <link rel="stylesheet" href="/css/reuse/pagination.css">
    <link rel="stylesheet" href="/css/user/myInfo.css">
</head>

<body>
    <section id="header">
        <a href="#"><img src="/imgs/logo/logo.png"></a>
        <div class="search">
            <form action="/search">
                <input type="text" name="name" placeholder="Search here!" required>
                <button type="submit" class="btn">Search</button>
            </form>
        </div>
        <div>
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="/shop">Shop</a></li>
                <li><a href="/contact">Contact</a></li>
                <li id="cart"><a href="/cart" id="lg-bag"><i class="fal fa-shopping-bag"></i></a>
                    <span id="quantity">
                        <%=cartCount%>
                    </span>
                </li>
                <% if (!user) { %>
                    <a href="/auth/loginForm" class="btn btn-primary">Login</a>
                    <% } else { %>
                        <div class="dropdown">
                            <i class="fa fa-user-circle dropdown-toggle" id="userIcon" data-bs-toggle="dropdown"
                                aria-expanded="false"></i>
                            <ul class="dropdown-menu" aria-labelledby="userIcon">
                                <li><a href="/user/myInfo" class="dropdown-item">My Info</a></li>
                                <li><a href="/auth/logout" class="dropdown-item">Log out</a></li>
                            </ul>
                        </div>

                        <% } %>
                            <li><span id="close"> <i class="fa-solid fa-x"></i></span></li>
            </ul>
        </div>
        <div id="mobile">
            <a href="/cart"><i class="fal fa-shopping-bag"></i>
                <span class="quantity">
                    <%=cartCount%>
                </span>
            </a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>
    <h3 class="my_info">My Infomations</h3>
    <table>
        <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Email</td>
                <td>Adress</td>
                <td>Phone</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <%=myInfo.id%>
                </td>
                <td>
                    <%=myInfo.name%>
                </td>
                <td>
                    <%=myInfo.email%>
                </td>
                <td>
                    <%=myInfo.address%>
                </td>
                <td>
                    <%=myInfo.phone%>
                </td>

                <td class="actions">
                    <button class="edit-btn" data-id="<%= myInfo.id %>" data-name="<%= myInfo.name %>"
                        data-email="<%= myInfo.email %>" data-address="<%= myInfo.address %>"
                        data-phone="<%= myInfo.phone %>">
                        Edit
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <h3 class="purchased_products"> Purchased Products: </h3>
    <%if(purchasedProductsData.length> 0){%>
        <table id="purchased_products">
            <th>
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td>Image</td>
                    <td>Descriptions</td>
                    <td>Price</td>
                    <td>Size</td>
                    <td>Quantity</td>
                    <td>Order Date</td>
                </tr>
            </th>
            <tbody>

                <%purchasedProductsData.forEach(product=> {%>
                    <tr>
                        <td>
                            <%=product.products.id%>
                        </td>
                        <td>
                            <%=product.products.name%>
                        </td>
                        <td>

                            <a href="/shop/proDetails/<%=product.products.id%>"><img
                                    src="/imgs/products/<%=product.products.image_url%>"
                                    alt="<%=product.products.name%>">
                        </td></a>
                        <td>
                            <%=product.products.description%>
                        </td>
                        <td>
                            $<%=product.products.price%>
                        </td>
                        <td>
                            <%=product.productSize%>
                        </td>
                        <td>
                            <%=product.productQuantity%>
                        </td>
                        <td>
                            <%=product.pro_OrderDate%>
                        </td>
                    </tr>
                    <%})%>
            </tbody>

        </table>
        <%}else{%>
            <p class="title_noProduct">there is no purchased product</p>
            <%}%>

                <!-- Modal for Edit -->
                <div id="editModal" class="modal hidden">
                    <div class="modal-content">
                        <h2>Edit User</h2>
                        <form id="editUserForm" action="/user/myInfo/editUser" method="post">
                            <input type="hidden" id="id_edit" name="id_edit">

                            <label for="name_edit">Name:</label>
                            <input type="text" id="name_edit" name="name_edit" required>

                            <label for="emai_edit">Emai:</label>
                            <input type="text" id="email_edit" name="email_edit" required>

                            <label for="address_edit">Address:</label>
                            <textarea id="address_edit" name="address_edit" rows="4" required></textarea>

                            <label for="phone_edit">Phone:</label>
                            <input type="text" id="phone_edit" name="phone_edit" required>

                            <button type="submit" class="save-btn">Save</button>
                            <button type="button" class="cancel-btn" id="cancelEditBtn">Cancel</button>
                        </form>
                    </div>
                </div>

                <!-- footer -->
                <footer class="section-p1">

                    <div class="col">
                        <a href="#"><img class="logo" src="/imgs/logo/logo.png"></a>
                        <h4>Contact</h4>
                        <p><strong>Address:<strong>Viet Nam, Da Nang, Ngu Hanh Son</p>
                        <p><strong>Email: </strong>252quanghuy@gmail.com</p>
                        <p><strong>Phone:</strong>0813118974</p>
                        <p><strong>Hours:</strong>10.00 - 18.00, Mon - Sat</p>
                        <div class="follow">
                            <h4>Follow Me</h4>
                            <div class="icon">
                                <a href="https://www.facebook.com/huydz.252">
                                    <i class="fab fa-facebook-f"></i>
                                    <i class="fab fa-instagram"></i>
                                    <i class="fab fa-twitter"></i>
                                    <i class="fab fa-youtube"></i>
                                    <i class="fab fa-pinterest-p"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="sec">
                        <div class="col">
                            <h4>About</h4>
                            <a href="#">About Us</a>
                            <a href="#">Delivery Information</a>
                            <a href="#">Privacy Policy</a>
                            <a href="#">Terms and Condition</a>
                            <a href="#">Contact Us</a>
                        </div>

                        <div class="col">
                            <h4>My Account</h4>
                            <a href="#">Sign In</a>
                            <a href="#">View Cart</a>
                            <a href="#">My Account</a>
                            <a href="#">My Wishlist</a>
                            <a href="#">Track my Order</a>
                            <a href="#">Help</a>

                        </div>

                        <div class="col install">
                            <h4>Install App</h4>
                            <p>From App Store or Google Play</p>

                            <div class="row">
                                <img src="/imgs/pay/app.jpg" alt="">
                                <img src="/imgs/pay/play.jpg" alt="">
                            </div>
                            <p>Secured Payment Gateways</p>
                            <img src="/imgs/pay/pay.png" alt="">
                        </div>
                    </div>
                </footer>


                <script src="/js/navbar.js"></script>
                <script src="/js/user/myInfo.js"></script>
</body>

</html>