<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owen Shop</title>
    <!-- font Awesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="/fontawesome-free-6.5.2-web/css/all.min.css">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Alkatra&family=Berkshire+Swash&family=Comic+Neue:wght@700&family=Gentium+Book+Plus:wght@400;700&family=Lato:ital,wght@0,400;0,700;0,900;1,700&family=Lexend+Deca:wght@500&family=Lexend:wght@500&family=Montserrat:wght@500&family=Open+Sans:wght@500;800&family=Roboto:wght@100;400&family=Sue+Ellen+Francisco&family=Work+Sans:wght@400;700;900&display=swap"
        rel="stylesheet">

    <link
        href="https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900;&display:swap">
    <!-- css -->
    <link rel="stylesheet" href="/css/reuse/root.css">
    <link rel="stylesheet" href="/css/reuse/header-nav.css">
    <link rel="stylesheet" href="/css/reuse/footer.css">
    <link rel="stylesheet" href="/css/cart.css">
</head>

<body>
    <!-- header -->
    <section id="header">
        <a href="#"><img src="/imgs/logo/logo.png"></a>
        <div class="search">
            <form action="/search">
                <input type="text" name="name" placeholder="Search here!">
                <button type="submit" class="btn">Search</button>
            </form>
        </div>
        <div>
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="/shop">Shop</a></li>
                <li><a href="/contact">Contact</a></li>
                <li id="cart"><a href="/cart" id="lg-bag" class="active"><i class="fal fa-shopping-bag"></i></a>
                    <span id="quantity">
                        <%=cartCount%>
                    </span>
                </li>
                <% if (!user) { %>
                    <a href="/auth/loginForm" class="btn btn-primary">Login</a>
                    <% } else { %>
                        <div class="dropdown">
                            <i class="fa fa-user-circle dropdown-toggle" id="userIcon" data-bs-toggle="dropdown"
                                aria-expanded="false"></i>
                            <ul class="dropdown-menu" aria-labelledby="userIcon">
                                <li><a href="/user/myInfo" class="dropdown-item">My Info</a></li>
                                <li><a href="/auth/logout" class="dropdown-item">Log out</a></li>
                            </ul>
                        </div>

                        <% } %>
                            <li><span id="close"> <i class="fa-solid fa-x"></i></span></li>
            </ul>
        </div>
        <div id="mobile">
            <a href="/cart"><i class="fal fa-shopping-bag"></i>
                <span class="quantity">
                    <%=cartCount%>
                </span>
            </a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>
    <!-- Cart Page -->
    <section id="cart_content_desktop" class="section-p1">
        <!-- top -->
        <section id="page-header" class="about-header">
            <span><a href="/"><i class="fa-solid fa-house" style="color: #000000;"></i> OWEN </a> / <a
                    href="/cart">CART</a> </span>

        </section>
        <table width="100%" class="product-table">
            <%if(cart.length>0){%>
                <thead>
                    <tr>
                        <td style="color: red;">DELETE</td>
                        <td>PRODUCT</td>
                        <td>NAME</td>
                        <td>PRICE</td>
                        <td>QUANTITY</td>
                        <td>SIZE</td>
                        <td>TOTAL PRICE</td>
                        <td>STATUS</td>
                    </tr>
                </thead>
                <tbody>

                    <% cart.forEach(cart=> { %>
                        <tr>
                            <td id="delete-all_desktop">
                                <a href="/cart/deleteProduct/<%=cart.id%>"><i class="fa-regular fa-trash-can"></i></a>
                            </td>
                            <td>
                                <a href="/shop/proDetails/<%=cart.id%>"><img src="/imgs/products/<%=cart.image_url%>"
                                        alt=""></a>
                            </td>
                            <td>
                                <%=cart.name%>
                            </td>
                            <td>
                                $<%=cart.price%>
                            </td>
                            <td>
                                <div class="quantity-selector_desktop">
                                    <button type="button" class="decrease_desktop btnHover" data-id="<%= cart.id %>"
                                        data-price="<%= cart.price %>" data-quantity="<%= cart.quantity %>">-</button>
                                    <input class="count_desktop" type="number" value="<%=cart.quantity%>" min="0">
                                    <button type="button" class="increase_desktop btnHover" data-id="<%= cart.id %>"
                                        data-price="<%= cart.price %>" data-quantity="<%= cart.quantity%>">+</button>
                                </div>
                            </td>
                            <td>
                                <span>
                                    <%=cart.size%>
                                </span>
                            </td>
                            <td>
                                <span class="total-price-product_desktop">$<%=cart.quantity*cart.price%></span>
                            </td>
                            <td class="check_desktop">
                                <input type="checkbox" class="product-checkbox_desktop" data-id="<%= cart.id %>"
                                    data-price="<%= cart.price %>" data-quantity="<%= cart.quantity %>" />
                            </td>
                        </tr>
                        <%})%>
                            <%}else{%>
                                <h3>There are no products</h3>
                                <%}%>
                </tbody>

        </table>

    </section>

    <!-- Cart Add -->
    <section id="cart-add_desktop" class="section-p1">
        <div class="coupon_desktop">
            <div>
                <h4>Total Cart</h4>
                <table class="totalCart_desktop">

                    <span id="total-price-cart_desktop">

                    </span>
                </table>
                <button id="openModalBtn_desktop" class="btnHover" type="button">Checkout</button>
            </div>
            <div class="save_desktop">
                <!-- <button class="btn-green" id="pay-all">PAY ALL</button> -->
            </div>
        </div>
    </section>


    <div id="paymentModal" class="modal hidden">
        <div class="modal-content">
            <span class="close" id="closeModalBtn">&times;</span>
            <h3>Payment Information</h3>
            <div class="form-container">
                <!-- info -->
                <form action="/cart/pay" method="POST">
                    <input type="number" name="id_user" value="<%=myInfo.id%>" hidden>
                    <div>
                        <div class="form-group" hidden>
                            <label for="name">Your Name:</label>
                            <input type="text" id="name" name="name_pay" placeholder="Enter your name" required
                                value="<%=myInfo.name%>">
                        </div>
                        <div class="form-group">
                            <label for="phone">Your Phone Number:</label>
                            <input type="text" id="phone" name="phone_pay" placeholder="Enter your phone number"
                                required value="<%=myInfo.phone%>">
                            <h5>We will call you when your order is about to be delivered</h5>
                        </div>
                        <div class="form-group">
                            <label for="address">Your Address:</label>
                            <textarea id="address" rows="3" name="address_pay" placeholder="Enter your Address"
                                required><%=myInfo.address%></textarea>
                        </div>

                    </div>
                    <!-- productChecked -->
                    <div class="product-checked">
                    </div>
                    <div class="modal-footer">
                        <span id="total-price-pay"></span>
                        <button class="btn btn-success" type="submit" id="payFooterBtn">Pay</button>
                        <button class="btn btn-danger" id="closeFooterBtn" type="button">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <section id="cart_content_mobile">
        <%if(cart.length>0){%>
            <%cart.forEach(cart=> {%>
                <div class="pro">
                    <div class="div_pro_check">
                        <div class="check">
                            <input type="checkbox" class="product-checkbox_mobile" data-id="<%= cart.id %>"
                                data-price="<%= cart.price %>" data-quantity="<%= cart.quantity %>" />
                        </div>
                        <td id="delete-all_mobile">
                            <a href="/cart/deleteProduct/<%=cart.id%>"><i class="fa-regular fa-trash-can"></i></a>
                        </td>
                    </div>
                    <div class="div_pro_info">
                        <img src="imgs/products/<%=cart.image_url%>">
                        <div class="pro_info">
                            <p class="pro_name">
                                <%=cart.name%>

                            </p>
                            <p>
                                Size: <%=cart.size%>
                            </p>
                            <div class="price-quantity">
                                <p>
                                    $<%=cart.price%>
                                </p>
                                <div class="quantity-selector_mobile">
                                    <button type="button" class="decrease_mobile btnHover" data-id="<%= cart.id %>"
                                        data-price="<%= cart.price %>" data-quantity="<%= cart.quantity %>">-</button>
                                    <input class="count" type="number" value="<%=cart.quantity%>" min="0">
                                    <button type="button" class="increase_mobile btnHover" data-id="<%= cart.id %>"
                                        data-price="<%= cart.price %>" data-quantity="<%= cart.quantity%>">+</button>
                                </div>
                            </div>
                            <span class="total-price-product_mobile">Total: $<%= cart.price * cart.quantity %></span>

                        </div>
                    </div>
                </div>
                <%})%>
                    <%}%>
    </section>
    <section id="cart-add_mobile">
        <h3>
            <span id="total-price-cart_mobile">

            </span>
        </h3>
        <button id="openModalBtn_mobile" class="btnHover" type="button">Checkout</button>
    </section>


    <script src="/js/cart.js"></script>
    <script src="/js/navbar.js"></script>

</body>

</html>